body {
  background-image: linear-gradient(
120deg
,#dee2a4,#d9c378);
  text-align: center;
  font-family: 'Acme', sans-serif;
}
textarea {
  padding: 10px;
  width: 600px;
  height:60px;
  border: 2px solid black;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}
button{
    margin: 0 auto;
    display:block;
    width: 300px;
    height: 70px;
    margin-top: 80px;
    margin-bottom: 70px;
    color:black;
    border:2px solid #4caf50;
    font-size: 25px;
    border-radius: 15px;
    transition-duration: 0.4s;

}
button:hover{
    background-color: #4caf50;
    color:white;
  